server {
    listen 80;
    server_name osm.*;
    underscores_in_headers on;

    root /home/osm/site/public/;

    location / {
        include uwsgi_params;   
        uwsgi_modifier1 7;
        if (!-f $request_filename) {
            uwsgi_pass 127.0.0.1:3031;
            break;
        }
    }

    location ~ ^/api/0\.6/map(\.json)?(\?(.*))?$ {
        include fastcgi_params;
        fastcgi_pass  127.0.0.1:18000;
    }
    location ~ ^/api/0\.6/(node|way|relation)/[0-9]+$ {
        include fastcgi_params;
        fastcgi_pass  127.0.0.1:18000;
    }
    location ~ ^/api/0\.6/(way|relation)/[0-9]+/full$ {
        include fastcgi_params;
        fastcgi_pass  127.0.0.1:18000;
    }
    location ~ ^/api/0\.6/(nodes|ways|relations)(\?(.*))?$ {
        include fastcgi_params;
        fastcgi_pass  127.0.0.1:18000;
    }
    # Set the MIME type for crossdomain.xml policy files
    # or flash will ignore it
    location ~ /crossdomain\.xml$ {
        types {
            text/x-cross-domain-policy xml;
        }
    }

}
